<% provide(:title, 'Home' ) %>

<div id="home">
  <div class="center hero-unit">
    <h1>Find a place on earth Home.</h1>
    <p>Rent from people in over 34,000 cities and 192 countries.</p>
    <%= link_to "Learn More", index_path, class: "btn btn-large btn-primary" %>
  </div>
</div>

