<div class="Center_sessions">
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>

  <%= form_tag do %>
      <fieldset>
        <legend>Please Log In</legend>
        <div>
          <%= label_tag :name, 'Name:' %>
          <%= text_field_tag :name, params[:name] %>
        </div>
        <div>
          <%= label_tag :password, 'Password:' %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag "Login", class: "btn btn-small btn-primary" %>
        </div>

      </fieldset>
  <% end %>
</div>