<h2>Your Cart</h2>
<table>
  <tr>
    <th>Quantity</th>
    <th>Place</th>
    <th>Price</th>
  </tr>
  <%= render(@cart.line_items) %>
  <tr>
    <td colspan="2"></td>
    <td><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>



<div class="pull-left"><%= button_to "Checkout", new_order_path, method: :get, class: "btn btn-small btn-primary " %> </div>
<div class="pull-right"><%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-small btn btn-danger " %></div>



