<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<% if @cart.line_items.empty? %>
   <p></p>
 <% else %>
    <div id="cart">
      <%= render 'carts/cart' %>
    </div>
<% end %>




<h1>List your Hotels </h1>

<table>
  <% @places.each do |place| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(place.image_url, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= place.title %></dt>
            <dd><%= truncate(strip_tags(place.description), length: 580) %></dd>
            <div class="price_line">
              <span class="price"><%= number_to_currency(place.price) %></span>
              <%= button_to 'Add to Cart', line_items_path(place_id: place), class: "btn btn-small btn-primary" %>
            </div>
          </dl>
        </td>


      </tr>
  <% end %>
</table>



<br>