<h1>List your Hotels </h1>

<table>
  <% @places.each do |place| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(place.image_url, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= place.title %></dt>
            <dd><%= truncate(strip_tags(place.description), length: 180) %></dd>
          </dl>
        </td>
        <td class="list_actions">
          <%= link_to 'Show', place %>
          <br/>
          <%= link_to 'Edit', edit_place_path(place) %>
          <br/>
          <%= link_to 'Destroy', place, method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>



<br>

<%= link_to 'New Place', new_place_path %>
