<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Rails app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>

        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Contact",    contact_path %></li>
          <li><%= link_to "Browse", browse_path %></li>

          <% if session[:user_id] %>

              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Orders", "orders_path" %></li>
                  <li><%= link_to "Places", "places_path" %></li>
                  <li><%= link_to "Users", "users_path" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Logout", "logout_path", method: :delete %>
                  </li>
                </ul>
              </li>
          <% else %>
              <li><%= link_to "Sign In", "sessions_new_path" %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>





