<!DOCTYPE html>
<html>
<head>
  <title>RailsApp4PowtorkaApi   <%= yield(:title) %>   </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
</head>
<body class='<%= controller.controller_name %>'>
<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
